﻿@model List<Product>
@{
    var product = new Product();
    var url = "/Sales/Index";
    if( ViewBag.role == "admin")
    {
        url = "/Admin/Index";
    }
    if (Model.Count > 0)
    {
        product = Model.First();
    }
}
<style>
    td {
        border: 1px solid black;
        padding: 10px;
    }
    thead {
        background: #dfdfdf;
        font-weight: 600;
    }
    .back {
        padding: 10px 33px;
        position: relative;
        left: 10%;
        background: #48c7eb;
        color: #fff;
    }
</style>
<div style="padding: 10px;border-bottom: 1px solid #b4b1b1;padding-bottom: 0;">
    <label style=" font-size: 19px; font-weight: 500;">Product Detail View</label>
</div>
<div style="padding:10px">
    <div class="row">

        <div class="col-md-2">
            <label>Mobile Number</label><br />
            <input type="text" disabled value="@product.Mobilenum" />
        </div>
        <div class="col-md-2">
            <label>Status</label><br />
            <input type="text" disabled value="@product.Status" />
        </div>
        <div class="col-md-2">
            <label>Order Id</label><br />
            <input type="text" disabled value="@product.OTP" />
        </div>
    </div>
</div>
<div style="padding: 10px;">
    <table style="width: 30%;">
        <thead>
            <tr>
                <td>S.No</td>
                <td>Product Name</td>
                <td>Price (Rs)</td>
            </tr>
        </thead>
        <tbody>
            @{ 
            var count = 1;
                foreach(var p in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@p.ProductName</td>
                        <td>@p.Price</td>
                    </tr>
                    ++count;
                }
            }
        </tbody>
    </table>
    <div style="margin-top:20px">
        <a class="back" href="@url" >Back</a>
    </div>
</div>