﻿@{
    var ProductList = new List<Product>();
    if (ViewBag.OrderedProduct != null)
    {
        ProductList = ViewBag.OrderedProduct;
    }
}
<style>
    td {
        border: 1px solid black;
        padding: 10px;
    }
    thead {
        background: #dfdfdf;
        font-weight: 600;
    }
</style>
<div style="text-align: -webkit-center;">
    <table style="width:70%">
        <thead>
            <tr>
                <td style="width:10%;font-weight: 700;">S.No</td>
                <td style="font-weight: 700;">Status</td>
                <td style="font-weight: 700;">Mobile No</td>
                <td style="font-weight: 700;">Order No</td>
                <td style="font-weight: 700;">Change Status</td>
                <td style="font-weight: 700;">Save</td>
                <td style="font-weight: 700;">View</td>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 1;
                foreach (var rec in ProductList)
                {
                        <tr>
                            <td hidden> <input type="hidden" id="pk@(rec.Id)" value="@rec.Id" /></td>

                            <td style="width:10%">@count</td>
                            <td>@rec.Status</td>
                            <td>@rec.Mobilenum</td>
                            <td>@rec.OTP</td>
                            <td>
                                <select id="@count">
                                    <option value="">--Select--</option>
                                    <option value="Orderd Confrimed">Orderd Confrimed</option>
                                    <option value="Packing">Packing</option>
                                    <option value="Out For Delivery">Out For Delivery</option>
                                </select>
                            </td>
                            <td>
                                <input sid="@count" pkid="@rec.OTP" type="button" value="Save" onclick="save(this)" />
                            </td>
                            <td>
                                <a href="/Admin/GertProductByOTP?otp=@rec.OTP">View</a>
                            </td>
                        </tr>
                    ++count;
                }
            }
            <tr></tr>
        </tbody>
    </table>
</div>

<script>
    function save(obj) {
        var sId = $(obj).attr('sid');
        var selectedVal = $("#" + sId).val();
        var id = $(obj).attr('pkid');
        if (selectedVal == '') {
            alert("please select the status");
            return false;
        }
        $.ajax({
            url: "/Admin/UpdateSataus",
            data: { "otp": id, "status": selectedVal},
            type: "POST",
            success: function (res) {
                if (res == "Success") {
                    alert('Status Updated Successfully')
                }
                else {
                    alert(res);
                }
            },
            error: function (err) {
                alert(err.Message);
            }
        })
    }
</script>