﻿@model List<Productinfo>
@{ ViewData["Title"] = "Home Page"; }

<style>
        .product-img {
                width: 97%;
                position: relative;
                top: 20%;

    }

        .right-content {
                width: 70%;
                padding-left: 9px;
                border-left: 1px solid #afaaaa;

    }

        .addtocart {
                padding: 5px;
                width: 100px;
                display: flex;
                border: 1px solid;
                border-color: #3895b9;
                color: #fff;
                background: skyblue;
                text-align: center;

    }

        .mic {
                font-size: 31px;
                position: relative;
                left: 11%;
                top: 4px;
                padding: 10px;
                background: #d7cdff;
                border-radius: 13px;

    }
</style>
<input hidden type="text" id="text-to-speech" placeholder="Enter text to speak..." />
<button type="button" id="speakbtn" onclick="Speak()">Speak</button>
</br>
<p hidden><button type="button" onclick="runSpeechRecognition1()">Speech to Text</button> &nbsp; <span id="action"></span></p>
<div id="output" class="hide"></div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="row" style="margin:10px 0px;">
    <div class="col-md-8">
        <div class="row">
            @{ if (Model.Count > 0)
                {
                    int count = 0;
                    foreach (var rec in Model)
                    {
                        <div class="col-md-3" style="">
                            <div style="display:flex;width:100%;padding: 10px 0px;border: 1px solid;margin: 0px 10px;">
                                <div style="width:30%;text-align: center;">
                                    <img class="product-img" src="@(rec.Qty)">
                                    <input type="hidden" class="products" id="@count" value="@rec.ProductName" imgsrc="@(rec.Qty)" price="@rec.Price" />
                                </div>
                                <div class="right-content">
                                    <label style="font-size: 24px;">@rec.ProductName</label><br />
                                    <label style="font-size: 20px;">@rec.ImgPath</label><br />
                                    <label style="font-size: 18px;font-weight: 600;">@(rec.Price) Rs</label><br />
                                    <div class="addtocart">
                                        <div style="width:100%;padding:5px">ADD</div>
                                    </div>

                                </div>
                            </div>
                        </div> }

                } }
        </div>
    </div>
    <div class="col-md-3">
        <div style="width:100%;margin:0px 5px;height: 800px;overflow:scroll;max-height:1500px;border: 1px solid;">
            <div style="padding:10px;text-align:center;border-bottom:1px solid #afaaaa" onclick="ApplySearch()">
                <label style="font-size: 28px;">Cart</label>
                <i class="material-icons mic">settings_voice</i>
            </div>
            <div style="padding: 10px;">
                <input type="text" id="Search" placeholder="search..." style="width: 100%;" />
                <div id="cartlist">

                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal fade" id="LoginModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <label>Mobile No</label>
                <input type="text" id="MobileNumber" />
                <button onclick="save()">Save</button>
                <div style=" text-align: center;margin: 20px;">
                    <i class="material-icons" style="font-size: 36px;">settings_voice</i>

                    <br /><span id="voice" style="font-size:24px"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="UserOptModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Do You Want To </h4>
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div style="display:flex;text-align: -webkit-center;">
                    <button style="margin-right:5px;position: relative;left: 27%;">Track - say 1</button>
                    <button style="position: relative;left: 28%;">
                        Browse - say 8
                    </button>
                </div>
                <div class="trackele" style="display:none">
                    <label>Enter the Order Id : </label><br>
                    <input type="text" id="track" style="width: 93%;">
                </div>
                <div style="padding: 10px;text-align: center;display:none" class="trackele" >
                    <button onclick="track()">GO - say 7</button>
                    <br>
                    <label style="margin-top: 8px;color: green;font-size: 18px" id="trackStatus"></label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="closeOptModal" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    window.speechHint = "Login";
    $(document).ready(function () {
        $('#LoginModal').modal({
            show: false
        })
        //textToAudio("Please, Enter Mobile Number For Login");
        setTimeout(function () {
            $("#speakbtn").click();
        }, 1000);
    });
    function Speak() {
        debugger;
        var iscomplete = textToAudio();
        if (iscomplete) {
            $('#LoginModal').modal('show');
            setTimeout(function () {
                ClearSearchHint();
                runSpeechRecognition($("#voice"), $("#MobileNumber"));

            }, 2000)

        }
    }


    function save() {
        $.ajax({
            url: "/Home/SaveUserByMobileNumber",
            type: "POST",
            data: {
                "MobileNumber": $("#MobileNumber").val()
            },
            success: function (res) {
                if (res == 1) {
                    textToAudio("Record Saved Successfully");
                    $("#closeModal").click();
                    $(".trackele").css('display', 'none');
                    $("#track").val('');
                    $("#UserOptModal").modal('show');
                    textToAudio("Say 1 for Track Order or Say 8 For Browse");
                    ApplySearch();
                }
                else if (res == 2) {
                    textToAudio("Login success");
                    $("#closeModal").click();
                    $(".trackele").css('display', 'none');
                    $("#track").val('');
                    $("#UserOptModal").modal('show');
                    textToAudio("Say 1 for Track Order or Say 8 For Browse");
                        ApplySearch();
                }
                else
                    alert("Something Went Wrong");
            },
            error: function (err) {
                alert(err.responseText);
            }
        })
    }
    function add(outs) {
        $.ajax({
            url: "/Home/Addtocart",
            type: "POST",
            data: {
                outs
            },

            successss: function (res) {
                if (res == 1) {
                    textToAudio("Record Saved Successfully");
                    //textToAudio("Record Saved Successfully");
                    $("#closeModal").click();
                    ApplySearch();
                }
                else if (res == 2) {
                    textToAudio("Login success");
                    // textToAudio("Login success");
                    $("#closeModal").click();
                    ApplySearch();
                }
                else
                    alert("Something Went Wrong");
            }
        })
    }

    function update() {
        debugger;
        $.ajax({
            url: "/Home/UpdateStatus",
            type: "POST",
            success: function (res) {
                debugger;
                if (res.success == 1) {
                    alert("Record Saved Successfully. Your Order No :" + res.otp);
                    textToAudio("Record Saved Successfully. Your Order No :" + res.otp);
                    $("#closeModal").click();
                }

            }

        })
    }

</script>
