﻿
@{
    var url = "/Home/Authenticate";
    if (ViewBag.Role == "sales")
    {
        url = "/Home/AuthenticateSalesPerson";
    }
}
<img src="~/Images/fruit.jpg" style="width: 100%;"/>
<div style="width:100%;text-align:center;display: flex;position: absolute;top: 0;">
    <div style="width:35%;"></div>
    <div style="width:25%;position:relative;top:20%;border: 1px solid #e2e2e2;padding: 10px;">
        <div style="padding: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;">Login</div>
        <div style="text-align: left;">
            <form action="@url" method="post">
                <label>Mobile No</label></br>
                <input type="text" name="UserName" style="width:100%" /></br>
                <label>Password</label></br>
                <input type="password" name="Password" style="width:100%" />
                <div style="text-align:center;padding:10px">
                    <input type="submit" value="Login" />
                </div>

            </form>
        </div>
    </div>
</div>